*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

#wrap{
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  flex: 1.2;
}
.menu{
  flex: 3;
}
.search{
  flex: 1;
}
.menu li{
  display: inline;
  padding-right: 15px;
  padding-left: 15px;
}

.menu li a{
  text-decoration: none;
  /* color:rgb(20, 241, 149); */
  color: rgb(254, 254, 254);
}
.menu li a:hover{
  border-bottom: 3px solid rgb(20, 241, 149);
}


.menu .searching{
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
#slider{
  overflow: hidden;
}
.aspect-ratio{
  display: block;
  position: relative;
  padding-top: 56.25%;
  transition: 1s;

}

.aspect-ratio img{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.dot-container{
  position: absolute;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-bottom: 2px solid #505050;
}
.dot{
  height: 15px;
  width: 15px;
  background-color: rgb(128, 236, 255);
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
}
.content-product-list{
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 1200px;
  border-bottom: 1px solid rgb(59, 59, 59);
}
.dot.active{
  background-color: #ff56ff;
}

#footer{
  background-color: rgb(0, 0, 0);
  height: 390px;
  width: 100%;
  border-top: 1px solid rgb(50, 50, 50);
}
.footer-heading{
  text-align: center;
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin-top: 20px;
}
.col-footer{
  display: flex;
}

.col-footer .f-col{
  height: 180px;
  margin-left: 100px;
  width: 30%;
  margin-top: 60px;
}
.s-col{
  height: 180px;
  margin-left: 250px;
  width: 314px;
  margin-top: 60px;
}
.f-col-content{
  color: white;
}
.s-col-content{
  color: white;
}
.bott-footer{
  height: 10px;
  width: 100%;
  background-color: black;
  border-top: 1px solid gray;
  display: flex;
}

.fb-linking{
  flex: 5.5;
  text-align: center;
}

.zalo{
  flex: 5;
  text-align: center;
}


.car-brand-cate .parentCate{
  text-align: center;
  padding-top: 50px;
  border-bottom: 2px solid #000000;
  vertical-align: middle;
}
.content-category .parentCate a{
  color: rgb(0, 0, 0);
}

.content-product-list{
  position: relative;
  display: block;
}
.content-category{
  height: 900px;
  background-color: rgb(20, 241, 149);
  width: 16.5%;
  margin-left: 50px;
  border-radius: 0.75rem;
  margin-top: 100px;
  float: left;
}

.product-show{
  float: inline-end;
  background-color: #090909;
  height: 860px;
  width: 66%;
  margin-left: 350px;
  border-radius: 0.75rem;
  margin-top: 120px;
  display: flex;
  box-sizing: border-box;
}

.col1-product-show , .col2-product-show , .col3-product-show{
  width: 33.33%;
  background-color: rgb(0, 0, 0);
  border-radius: 0.75rem;
}

.col1-product-show-1 , .col1-product-show-2 , .col1-product-show-3{
  height: 33.33%;
  border-radius: 0.75rem;
}

.col2-product-show-1 , .col2-product-show-2 , .col2-product-show-3{
  height: 33.33%;
  border-radius: 0.75rem;
}

.col3-product-show-1 , .col3-product-show-2 , .col3-product-show-3{
  height: 33.33%;
  border-radius: 0.75rem;
}

.col1-item1 , .col1-item2, .col1-item3, 
.col2-item1, .col2-item2, .col2-item3,
 .col3-item1, .col3-item2, .col3-item3{
   height: 70%;
 }

.product-show img{
    height: 200px;
    width: 95%;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    border-radius: 0.75rem;
}

.product-show p{
  color: rgb(20, 241, 149);
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
}
